<footer class="footer">
  <div class="footer__gotop__button">
    <a href="#top" class="footer__gotop__button__link" title="Go to Top"
      ><img src="./assets/images/ico-arrow.svg" alt="" />
      <span>Go top</span></a
    >
  </div>
  <div class="wrapper">
    <nav class="footer__menu">
      <ul>
        <li>
          <a
            href="http://adalab.es/"
            title="Ir a la web de Adalab"
            target="_blank"
            >articles</a
          >
        </li>
        <li>
          <a
            href="http://adalab.es/"
            title="Ir a la web de Adalab"
            target="_blank"
            >books</a
          >
        </li>
        <li>
          <a
            href="http://adalab.es/"
            title="Ir a la web de Adalab"
            target="_blank"
            >events</a
          >
        </li>
        <li>
          <a
            href="http://adalab.es/"
            title="Ir a la web de Adalab"
            target="_blank"
            >reasons</a
          >
        </li>
        <li>
          <a
            href="http://adalab.es/"
            title="Ir a la web de Adalab"
            target="_blank"
            >tips</a
          >
        </li>
      </ul>
    </nav>
    <nav class="footer__social">
      <ul>
        <li>
          <a
            href="http://adalab.es/"
            title="Ir a la web de Adalab"
            target="_blank"
            >twitter</a
          >
        </li>
        <li>
          <a
            href="http://adalab.es/"
            title="Ir a la web de Adalab"
            target="_blank"
            >instagram</a
          >
        </li>
        <li>
          <a
            href="http://adalab.es/"
            title="Ir a la web de Adalab"
            target="_blank"
            >mastodon.social</a
          >
        </li>
      </ul>
    </nav>
    <small class="footer__copy"
      ><span>© 2020</span
      ><span>we <span class="fas fa-heart"></span> components</span>
    </small>
  </div>
</footer>
