<main class="main" id="top">
  <section class="main__hero">
    <div class="main__hero__tittle wrapper">
      <h1><span>Anonymous</span><span>proxy</span></h1>
      <p>In hac habitasse platea dictumst.</p>

      <a
        class="main__hero__tittle__button"
        href="#reasons"
        title="Go to 3 Reasons To Purchase"
        ><img src="./assets/images/ico-scroll-down.svg" alt=""
      /></a>
    </div>
  </section>

  <section class="main__tips">
    <div class="wrapper">
      <h4>Insomnia tips</h4>
      <h2>Looking through a window</h2>
      <p>
        Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at
        luctus ex diam nec lectus. Vivamus semper sodales rutrum.
      </p>
      <div class="main__tips__button">
        <a
          href="https://adalab.es/"
          title="Ir a la web de Adalab"
          target="_blank"
          >Go</a
        >
      </div>
    </div>
  </section>

  <section class="main__reasons" id="reasons">
    <h2 class="main__reasons__tittle">3 reasons to purchase</h2>
    <include
      src="../partials/reasons.html"
      nameH3="Ut sed metus"
      description="Lorem ipsum dolor sit amet, consecteur."
    ></include>
    <include
      src="../partials/reasons.html"
      nameH3="Curabitur ac erat"
      description="Mauris mattis urna quis lorem molestie."
    ></include>
    <include
      src="../partials/reasons.html"
      nameH3="Morbi dictum"
      description="Aliquam in dolor et dolor tincidunt."
    ></include>
    <div class="main__reasons__button">
      <a href="https://adalab.es/" title="Ir a la web de Adalab" target="_blank"
        >More reasons</a
      >
    </div>
  </section>
</main>
