// MEDIA QUERIES

@mixin tablet {
  @media all and (min-width: $tablet) {
    @content;
  }
}

@mixin desktop {
  @media all and (min-width: $desktop) {
    @content;
  }
}

// FONTS

@mixin font($color, $weight, $size) {
  color: $color;
  font-weight: $weight;
  font-size: $size;
}
