// MEDIA QUERIES

@mixin tablet {
  @media all and (min-width: $tablet) {
    @content;
  }
}

@mixin desktop {
  @media all and (min-width: $desktop) {
    @content;
  }
}

// FONTS

@mixin font-style($color, $size, $weight) {
  color: $color;
  font-size: $size;
  font-weight: $weight;
}

//FONT STYLES

@mixin style-h1 {
  @include font-style($color-light, rem(42), $bold);
  text-transform: uppercase;
  text-shadow: 0 rem(2) rem(3) $color-dark-low-opacity;
  letter-spacing: rem(3);
  line-height: rem(60);

  @include tablet {
    font-size: rem(80);
    line-height: rem(110);
    letter-spacing: rem(6);
  }
  @include desktop {
    font-size: rem(100);
    line-height: rem(130);
  }
}

@mixin style-claim {
  @include font-style($color-light, rem(16), $regular);
  letter-spacing: rem(0.5);

  @include tablet {
    font-size: rem(24);
    letter-spacing: rem(1.8);
  }
}

@mixin style-h4 {
  @include font-style($color-quaternary, rem(14), $regular);
  letter-spacing: rem(0.5);
  line-height: rem(30);
}

@mixin style-h2 {
  @include font-style($color-dark, rem(24), $bold);
  text-transform: capitalize;
  letter-spacing: rem(1);
  line-height: rem(30);

  @include tablet {
    font-size: rem(26);
  }

  @include desktop {
    font-size: rem(32);
  }
}

@mixin style-h3 {
  @include font-style($color-dark, rem(18), $bold);
  line-height: rem(30);

  @include tablet {
    font-size: rem(24);
  }
}

@mixin style-p {
  line-height: rem(30);
  letter-spacing: rem(0.5);
}

@mixin style-links {
  @include font-style($color-light, rem(16), $regular);
  line-height: rem(60);
  text-transform: uppercase;
  line-height: rem(30);
  small {
    font-size: rem(14);
    & .fa-heart {
      color: $color-primary;
    }
  }
}

// ANIMATIONS

@mixin animation-hero {
  animation-duration: 10s;
  animation-name: hero-move;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-delay: 1;
}

@keyframes hero-move {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@mixin animation-claim {
  animation-duration: 5s;
  animation-name: claim-move;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-delay: 1;
}

@keyframes claim-move {
  from {
    position: relative;
    top: 0%;
  }
  to {
    position: relative;
    top: 50%;
  }
}

@mixin animation-button {
  border: solid 2px $color-primary;
  width: rem(185);
  transition: width ease 0.3s, border ease 2s;
  &__link {
    width: 100%;
  }
  p {
    display: block;
    @include font-style($color-primary, rem(20), $bold);
    padding-left: rem(20);
    opacity: 0%;
    animation-duration: 8s;
    animation-name: phrase-interaction;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.21, 0.98, 0.02, 1);
    animation-delay: 0.3s;
  }
}

@keyframes phrase-interaction {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
