// BUTTON

.footer__gotop__button {
  width: rem(45);
  height: rem(45);
  background-color: $color-light;
  line-height: rem(60);
  text-align: center;
  border-radius: rem(50);
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 rem(2) rem(4) 0 $color-dark-medium-opacity;
}

//FOOTER

.footer {
  background-color: $color-secondary;
  @include style-links;

  & .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: rem(45);
  }

  &__menu,
  &__social {
    margin: rem(15);
    & ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      & a {
        padding: rem(5);
      }
    }
  }

  &__copy {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: rem(15);
    padding-bottom: rem;
    & span {
      display: inline-block;
    }
  }

  @include tablet {
    & .wrapper {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      padding-right: rem(40);
      padding-left: rem(40);
      padding-top: rem(0);
    }

    &__menu,
    &__social {
      order: 1;
      margin: 0;
      padding-right: rem(30);
      & ul {
        align-items: flex-start;
      }
    }
    &__copy {
      order: 0;
      align-items: flex-start;
      margin: 0;
    }
  }
}
