//HEADER

.header {
  background: $color-tertiary;
  width: rem(44);
  height: rem(44);
  z-index: 2;
  position: fixed;
  cursor: pointer;
  &__menu {
    text-align: center;
    display: inline-block;
    line-height: rem(44);
    width: 100%;
    & img {
      width: rem(14);
      height: rem(14);
    }
  }
}
