html {
  position: relative;
  font-family: $sans-serif;
}
p {
  font-size: rem(18);
  @include tablet {
    font-size: rem(20);
  }
}

h1,
h2,
h3 {
  font-family: $serif;
}

.wrapper {
  width: 100%;
  max-width: 750px;
  margin: auto;
  border: solid blue 1px;
}
