html {
  position: relative;
  font-family: $sans-serif;
  font-size: rem(18);

  @include tablet {
    font-size: rem(20);
  }
}

h1,
h2,
h3 {
  font-family: $serif;
}

.wrapper {
  width: 100%;
  border: 1px solid green;
  max-width: 750px;
  margin: auto;
}

div {
  border: 1px red solid;
}
